<!DOCTYPE html>
<html>
  
  <head>
    <%- include ("../partials/header.ejs") %>
    <title>CMPT 276 - Asn 2</title>
  </head>
  <body>
    <%- include ("../partials/nav.ejs") %>
    
    <div class="container">
    <h1>Update the User</h1>
    <!-- <tr> -->
      <li>Name: <%= rows[0].name %></li>
      <li>Weight: <%= rows[0].weight %></li>
      <li>Height: <%= rows[0].height %></li>
      <li>Haircolour: <%= rows[0].haircolor %></li>
      <li>GPA: <%= rows[0].gpa %></li>
      <br>
    <!-- </tr> -->
    <% var idIS = rows[0].id %>
    <form class="" action="/changeduser" method="post">
      <input type="text" name="name" value="" placeholder=<%= rows[0].name %> required/> <br />
      <input type="number" name="weight" value="" placeholder=<%= rows[0].weight %> required/> <br />
      <input type="number" name="height" value="" placeholder=<%= rows[0].height %> required/> <br />
      <input type="text" name="haircolor" value="" placeholder=<%= rows[0].haircolor %> required/> <br />
      <input type="number" step="0.1" name="gpa" value="" placeholder=<%= rows[0].gpa %> required/> <br />
      <input type="hidden" name="rowID" value=<%= idIS %> />
      <button id="button" type="submit" name="changeuserbutton">Change User</button>
    </form>

    <script type="text/javascript" src="./script.js"></script>

    <script type="text/javascript" src="./advanced.js"></script>
  </div>
  </body>
</html>

