<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Database Results</h2>

      <ul>

        <% for (var i =0; i < rows.length; i++) { %>
          <tr>
            <td><%= rows[i].name %></td>
            <td><%= rows[i].weight %></td>
            <td><%= rows[i].height %></td>
            <td><%= rows[i].haircolor %></td>
            <td><%= rows[i].gpa %></td>
            <br>
          </tr>
        <% } %>

      </ul>
    </div>
  </body>
</html>
