<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Database Results</h2>

      <ul>

        <% for (var i =0; i < rows.length; i++) { %>
          <% var idIS = rows[i].id %>
          <tr>
            <td><%= rows[i].name %></td>
            <td><%= rows[i].weight %></td>
            <td><%= rows[i].height %></td>
            <td><%= rows[i].haircolor %></td>
            <td><%= rows[i].gpa %></td>
            <td>
              <!-- <input type="text" name="username" value=""/> -->
            <form class="" action="/changeuser" method="post" >
              <input type="hidden" name="rowID" value=<%= idIS %> />
              <button id="changeuserbutton" type="submit" name="username">Change User</button>
            </form>
            <form class="" action="/deleteuser" method="post" >
              <input type="hidden" name="rowID" value=<%= idIS %> />
              <button id="deleteuserbutton" type="submit" name="username">Delete User</button>
            </form>

            </td>
            <br>
          </tr>
        <% } %>

      </ul>
    </div>
  </body>
</html>
