<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    <title>CMPT 276 - Asn 2</title>
  </head>

  <body>
    
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Database Results</h2>

      <ul>

        <% for (var i =0; i < rows.length; i++) { %>
          <% var idIS = rows[i].id %>


            <ul style="<%=`border-style: solid; border-width: 5px; border-color: red; height: ${rows[i].height}px; width: ${rows[i].weight}px; overflow:` %>">
              <li style="<%=`color: ${rows[i].haircolor};`%>"><%= rows[i].name %></li>
              <li><%= rows[i].weight %></li>
              <li><%= rows[i].height %></li>
              <li><%= rows[i].haircolor %></li>
              <li><%= rows[i].gpa %></li>
            </ul>
              <!-- <input type="text" name="username" value=""/> -->
            <form class="" action="/changeuser" method="post" >
              <input type="hidden" name="rowID" value=<%= idIS %> />
              <button id="changeuserbutton" type="submit" name="username">Change User</button>
            </form>
            <form class="" action="/deleteuser" method="post" >
              <input type="hidden" name="rowID" value=<%= idIS %> />
              <button id="deleteuserbutton" type="submit" name="username">Delete User</button>
            </form>

            <br>
        <% } %>

          </ul>
    </div>
  </body>
</html>
