<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    <title>CMPT 276 - Asn 2</title>
  </head>
  <body>
    <%- include ("../partials/nav.ejs") %>
    <div class="container">
    <h1>Delete the user:</h1>

      <li>Name: <%= rows[0].name %></li>
      <li>Weight: <%= rows[0].weight %></li>
      <li>Height: <%= rows[0].height %></li>
      <li>Haircolour: <%= rows[0].haircolor %></li>
      <li>GPA: <%= rows[0].gpa %></li>
      <br>

    <% var idIS = rows[0].id %>
    <form class="" action="/deleteduser" method="post">
      <input type="text" name="name" value="" disabled="disabled" placeholder=<%= rows[0].name %> /> <br />
      <input type="number" name="weight" disabled="disabled" value="" placeholder=<%= rows[0].weight %> /> <br />
      <input type="number" name="height" disabled="disabled" value="" placeholder=<%= rows[0].height %> /> <br />
      <input type="text" name="haircolor" disabled="disabled" value="" placeholder=<%= rows[0].haircolor %> /> <br />
      <input type="number" step="0.1" name="gpa" disabled="disabled" value="" placeholder=<%= rows[0].gpa %> /> <br />

      <input type="hidden" name="rowID" value=<%= idIS %> />

      <button id="button" type="submit" name="changeuserbutton">Confirm the Delete</button>
    </form>

    <script type="text/javascript" src="./script.js"></script>

    <script type="text/javascript" src="./advanced.js"></script>
  </div>
  </body>
</html>

